<%- include("partials/header") %>
<h1><%= authorsPost.title %> </h1>
<p><%= authorsPost.content %> </p>
<form action="/delete" method="post">
    <input type="hidden" name="postID" value="<%=authorsPost._id%>">
    <input id ="Submit" type="submit" value="Delete">
</form>
<%- include("partials/footer") %>